
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

#container {
  display: grid;
  width: 800px;
  height: 200px;
  background-color: rgb(11, 145, 217);
  grid-template-columns: repeat( 4 , 200px);
}

#container > div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.row1 {
  color: aliceblue;
  background-color: green;
}

.row2 {
  background-color:rgb(248, 249, 250) ;
}

.row3 {
  background-color:rgb(233, 236, 239) ;
}

.row4 {
  background-color:rgb(248, 249, 250) ;
}

.row5 {
  background-color:rgb(233, 236, 239) ;
}




